* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
}

.parent {
    display: flex;
}

.sidebar {
    width: 20%;
    height: 100%;
    position: fixed;
    background-color: rgb(79, 79, 189);
}
.sidebar-pos {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.img-sidebar {text-align: center;}

.img-sidebar img {
    width: 80%;
    border-radius: 50%;
    border: 4px solid rgb(203, 233, 245);
}
.menu {
    text-align: center;
    margin: 20px 0;
}
.menu a {
    color: aliceblue;
    display: block;
    margin-bottom: 20px;
    font-size: 19px;
    text-decoration: none;
}

.content {
    position: absolute;
    left: 20%;
    width: 80%;
    height: 100%;
    background-color: lightcyan;
    overflow-y: auto;
    padding: 0 3%;
}
section.descricao {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

section.descricao h2 {
    color: #343a40;
    font-size: 46px;
}
section.descricao h2 > span,
section.descricao h3 > span {
    color: rgb(79, 79, 189);
}
 section.descricao h3 {
    margin: 15px 0;
    color: #6c757d;
}

.icons-social {
    margin-top: 20px;
}

.icons-social a {
    text-decoration: none;
    margin-top: 8px;
    display: block;
    text-align: right;
}